body {
	background-color: #FFF5E6;
	font-family: 'Source Code Pro', monospace;
}

a {
	text-decoration: none;
	color: black;
}

#about {
	position: absolute;
	border: 1px solid black;
	height: 400px;
	width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
}

#me-pic {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}

#me-pic img {
	height: 200px;
	width: auto;
}

#me-text {
	position: absolute;
	height: 360px;
	width: 560px;
	background-color: #F3F3F3;
	padding: 20px;
}

#me-back {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	border: 1px solid black;
	background-color: rgb(250,250,250);
	transform: translate(50%, 50%);
}