body {
	background-color: #F2E6FF;
	font-family: 'Source Code Pro', monospace;
}

a {
	text-decoration: none;
	color: black;
}

#about {
	position: absolute;
	border: 1px solid black;
	height: 400px;
	width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#me-pic {
	position: absolute;
	top: 0;
	left: 0;
}

#me-pic img {
	height: 400px;
	width: auto;
}

#me-text {
	position: absolute;
	height: 360px;
	width: 760px;
	background-color: #F3F3F3;
	padding: 20px;
}

#me-back {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	border: 1px solid black;
	background-color: rgb(250,250,250);
	transform: translate(50%, 50%);
}

#me-back:hover {
	animation: sideBounce .5s ease 0s infinite alternate;
}

@keyframes sideBounce {
    from {
        transform: translate(50%, 50%);
    } to {
        transform: translate(55%, 50%);
    }
}