

body {
	font-family: Yanone Kaffeesatz;
	text-align: center;
	margin: 0;
}

a {
	color: black;
}

/*Background */
#background {
	position: fixed;
	z-index: 0;
	height: 100%;
	width: 100%;
}

#background img {
	height: 1000px;
}

/*Foreground and Quote */
#foreground {
	position: absolute;
	z-index: 1;
	border-radius: 20px;
	margin: 0px;
	width: 600px;
	background-color: rgba(255,255,255,.8);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.foregroundparts{
	margin: 30px;
}

#header {
	font-size: 40px;
	font-weight: 700;
}

/*Emphasize you potaytoey*/
.bold {
	font-weight: bold;
}
