body {
	margin: 0px;
	background-color: black;
}

#page {
	position: absolute;
	height: 100%;
	width: auto;
}

.category {
	position: relative;
	width: 33.33%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.category:hover > img {
	transition: 1s;
	transform: translate(0%, -100%) rotate(180deg);
}

.category:hover > .letter {
	transition: 1s;
	font-size: 200px;
	top: 10%;
	left: 5%;
	transform: translate(0%, -50%);
	color: white;
}

.category:hover > .word {
	/*transition: 1s;*/
	/*transition-delay: 1s;*/
	display: inline-block;
	/*top: 10%;
	transform: translate(0%, 30%);*/
}

.category img {
	transition: 1s;
	width: auto;
	height: 100%;
}

.letter {
	transition: 1s;
	position: absolute;
	font-size: 100px;
	color: red;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.word {
	/*transition: 1s;*/
	/*position: absolute;*/
	display: none;
	/*font-size: 50px;*/
	/*top: -10%;*/
	/*left: 45%;*/
	/*transform: rotate(180deg);*/
	color: white;
}